@import url(./leadboard.css);
@import url(./map.css);
@import url(./nav.css);
@import url(./stretch.css);

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1F1F1F;
  color: #FFFFFF;
}