.map-section {
  background-color: #2C2C2C;
  padding: 2rem;
  margin: 2rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.map-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.map-img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}