.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.6s ease, opacity 0.6s ease;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  margin: auto;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
  margin: auto;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-btn {
  cursor: pointer;
  background-image: url(../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: none;
  position: absolute;
  top: 25px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-size: 20px;
  line-height: 1;
  height: 52px;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  outline: none;
  box-sizing: border-box;
  padding: 16px 12px;
}

.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.3);
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 800;
  font-size: 16px;
  line-height: 110%;
  color: rgba(0, 0, 0, 0.7);
}

.modal__submit-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  border-style: none;
  margin-left: 0;
  margin-top: auto;
  max-width: 156px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  padding: 18px 32px;
  gap: 8px;
  border-radius: 8px;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  white-space: nowrap;
  position: relative;
}

.modal__like-btn {
  background-image: url(../images/thumbs-up.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: none;

  margin: 0 0 32px;
  width: 40px;
  height: 40px;
}

.modal__dislike-btn {
  background-image: url(../images/thumb-down.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-style: none;
  margin: 0 30px 32px;
  width: 40px;
  height: 40px;
}

.modal__comment-box {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
